<app-navbar></app-navbar>
<div [@fadeIn]>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Analytical Statements</li>
    </ol>
  </nav>
  <div class="container">
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>Add analytical statement</h3>
          </div>
          <div class="card-body">
            <form [formGroup]="analyticalStatementForm" (ngSubmit)="addAnalyticalStatement()">
              <div class="form-group">
                <label for="originator">Originator</label>
                <input id="originator" class="form-control" formControlName="originator">
              </div>
              <div class="form-group">
                <label for="purpose">Purpose</label>
                <input id="purpose" class="form-control" formControlName="purpose">
              </div>
              <div class="form-group">
                <label for="recipient">Recipient</label>
                <input id="recipient" class="form-control" formControlName="recipient">
              </div>
              <div class="form-group">
                <label for="dateOfReceipt">Date of receipt</label>
                <input type="date" class="form-control" id="dateOfReceipt" formControlName="dateOfReceipt">
              </div>
              <div class="form-group">
                <label for="currencyDate">Currency date</label>
                <input type="date" class="form-control" id="currencyDate" formControlName="currencyDate">
              </div>
              <div class="form-group">
                <label for="originatorAccount">Originator account</label>
                <select id="originatorAccount" class="form-control" formControlName="originatorAccount">
                  <option value="{{ account.accountNumber }}" *ngFor="let account of accounts">{{ account.accountNumber }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="model">Model</label>
                <input type="number" class="form-control" id="model" formControlName="model">
              </div>
              <div class="form-group">
                <label for="debitAuthorizationNumber">Debit authorization number</label>
                <input type="text" class="form-control" id="debitAuthorizationNumber" formControlName="debitAuthorizationNumber">
              </div>
              <div class="form-group">
                <label for="recipientAccount">Recipient account</label>
                <select class="form-control" id="recipientAccount" formControlName="recipientAccount">
                  <option value="{{ analyticalStatement.recipientAccount }}" *ngFor="let analyticalStatement of analyticalStatements">{{ analyticalStatement.recipientAccount }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="approvalModel">Approval model</label>
                <input type="text" class="form-control" id="approvalModel" formControlName="approvalModel">
              </div>
              <div class="form-group">
                <label for="approvalAuthorizationNumber">Approval authorization number</label>
                <input type="text" class="form-control" id="approvalAuthorizationNumber" formControlName="approvalAuthorizationNumber">
              </div>
                <input type="checkbox" id="urgently">&nbsp;Urgently
                <br><br>
               <div class="form-group">
                <label for="amount">Amount</label>
                <input type="number" min="0" class="form-control" id="amount" formControlName="amount">
              </div>
              <div class="form-group">
                <label for="city">City</label>
                <select id="city" class="form-control" formControlName="city">
                  <option value="{{ city.id }}" *ngFor="let city of cities">{{ city.name }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="currency">Currency</label>
                <select id="currency" class="form-control" formControlName="currency">
                  <option value="{{ currency.id }}" *ngFor="let currency of currencies">{{ currency.officialCode }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="analyticalStatementMode">Analytical Statement Mode</label>
                <select id="analyticalStatementMode" class="form-control" formControlName="analyticalStatementMode">
                  <option value="{{ mode }}" *ngFor="let mode of modes">{{ mode }}</option>
                </select>
              </div>
              <button type="submit" class="btn btn-info" >Add analytical statement</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="table-responsive">
          <table class="table table-bordered" *ngIf="analyticalStatements && analyticalStatements.length > 0; else analyticalStatementNotFound">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Originator</th>
                <th scope="col">Purpose</th>
                <th scope="col">Recipient</th>
                <th scope="col">Date of receipt</th>
                <th scope="col">Currency date</th>
                <th scope="col">Originator account</th>
                <th scope="col">Model</th>
                <th scope="col">Debit authorization number</th>
                <th scope="col">Recipient account</th>
                <th scope="col">Approval model</th>
                <th scope="col">Approval authorization number</th>
                <th scope="col">Urgently</th>
                <th scope="col">Amount</th>
                <th scope="col">City</th>
                <th scope="col">Currency</th>
                <th scope="col">Mode</th>
                <th scope="col">Details</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let analyticalStatement of analyticalStatements">
                <td>{{ analyticalStatement.id }}</td>
                <td>{{ analyticalStatement.originator }}</td>
                <td>{{ analyticalStatement.purpose }}</td>
                <td>{{ analyticalStatement.recipient }}</td>
                <td>{{ analyticalStatement.dateOfReceipt }}</td>
                <td>{{ analyticalStatement.currencyDate }}</td>
                <td>{{ analyticalStatement.originatorAccount }}</td>
                <td>{{ analyticalStatement.model }}</td>
                <td>{{ analyticalStatement.debitAuthorizationNumber }}</td>
                <td>{{ analyticalStatement.recipientAccount }}</td>
                <td>{{ analyticalStatement.approvalModel }}</td>
                <td>{{ analyticalStatement.approvalAuthorizationNumber }}</td>
                <td>{{ analyticalStatement.urgently }}</td>
                <td>{{ analyticalStatement.amount }}</td>
                <td>{{ analyticalStatement.placeOfAcceptance?.name }}</td>
                <td>{{ analyticalStatement.currency?.officialCode }}</td>
                <td>{{ analyticalStatement.analyticalStatementMode }}</td>
                <td>
                     <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="import(analyticalStatement.id)">Import</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <ng-template #analyticalStatementNotFound>
        <h1>There are no analytical statements yet!</h1>
      </ng-template>
    </div>
  </div>
</div>
