<app-navbar></app-navbar>
<div [@fadeIn]>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Home</li>
    </ol>
  </nav>
  <div class="container">
    <div class="jumbotron">
      <h4 class="display-4">Welcome <span>{{ currentUser }}</span> to Bank System application.</h4>
      <p class="lead"></p>
      <hr class="my-4">
      <div *ngIf="userIsLoggedIn(); else notLoggedIn">
        <p>Start by viewing accounts.</p>
        <a class="btn btn-outline-info btn-lg" routerLink="/accounts">View accounts</a>
      </div>
      <ng-template #notLoggedIn>
        <p>Start by creating a new user account.</p>
        <a class="btn btn-outline-info btn-lg" routerLink="/register">Register here</a>
      </ng-template>
    </div>
  </div>
</div>
